/* The below css is for header of the page, the header of the page is going to remain constant, only
 the body is going to chagne.
  */

  /* Styling for navBar, I have made nav Bar as flex, and all the element inside this navBar is going to 
  in row wise */
  .navBar{
    background-color:rgb(246, 124, 208);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* color: black; */
    /* position: relative; */
}
/* for logo*/
img{
    width: 70px;
    height: 85px;
    background-color: rgb(232, 21, 21);
   
    /* sets the default value of
     object-position property */
    object-position: initial
}

/* These styling are for anchor tag in navBar */
.nameOfApp a{
   
    font-size: 40px;
    font-family:verdana;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

/* for the name of users */
.nameOfUser{
    font-size: 30px;
    margin-top: 30px;
    margin-right:-250px;
    text-align: center;
}

/* Thesse styling are for logOut, button which is present on the navBar */
.logOut a{
   
    font-size: 20px;
    margin-right: 10px;
    text-decoration: underline;
    color: black;
}

.noUser ul{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    
}

.noUser li{
    list-style: none;
    font-size: 25px;
    padding-left: 10px;
 
}

.noUser li a{
    text-decoration: none;
    color: black;
}
.logOut small{
    font-size: 20px;
}